body {
  overflow-x: hidden;
}

@media screen and (max-width: 700px) {
  .brand-logo {
    height: 50px;
    width: auto;
  }
}

.anime{
  animation: anime1 35s linear infinite;
}
  @keyframes anime1 {
    0%{
        rotate: 360deg;
    }
    100%{
        rotate: 0deg;

    }
}

@keyframes jKVXCn {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(100%);
  }

}
